$color:rgb(255, 187, 0);
* {
    margin: 0px;
    padding: 0px;
}
.button{
    margin: 20px;
}
#dir{
    font-size: 30px;
    width: 260px;
    height: 50px;
    text-align: right;
    border: 2px solid;
    padding-right: 15px;
    outline-color: black;
}
.rounded-circle {
    width: 60px;
    height: 60px;
    font-size: 20px;
    text-align: center;
}
.btn-div {
    border: 8px solid $color;
    text-align: center;
}
.main {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-main {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a img {
        width: 38px;
    }
}
.btn-1 {
    width: 125px;
    height: 58px;
    border-radius: 30px;
}
.btn-2{
    display:inline-grid;
}